<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores excepturi accusamus incidunt neque! Dolorum nobis amet, ad a temporibus corporis quos sapiente blanditiis modi doloribus alias culpa eos deleniti illo sint. Iste exercitationem, odit minima molestias quae temporibus sint, soluta modi iure nihil explicabo doloribus consequatur saepe, totam commodi! Impedit animi similique rerum quaerat amet incidunt quis exercitationem reprehenderit deserunt itaque at ea optio illum voluptatem perspiciatis dicta, magni hic, ipsam odio totam! Dicta ut fuga vero sequi quo deserunt?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores excepturi accusamus incidunt neque! Dolorum nobis amet, ad a temporibus corporis quos sapiente blanditiis modi doloribus alias culpa eos deleniti illo sint. Iste exercitationem, odit minima molestias quae temporibus sint, soluta modi iure nihil explicabo doloribus consequatur saepe, totam commodi! Impedit animi similique rerum quaerat amet incidunt quis exercitationem reprehenderit deserunt itaque at ea optio illum voluptatem perspiciatis dicta, magni hic, ipsam odio totam! Dicta ut fuga vero sequi quo deserunt?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores excepturi accusamus incidunt neque! Dolorum nobis amet, ad a temporibus corporis quos sapiente blanditiis modi doloribus alias culpa eos deleniti illo sint. Iste exercitationem, odit minima molestias quae temporibus sint, soluta modi iure nihil explicabo doloribus consequatur saepe, totam commodi! Impedit animi similique rerum quaerat amet incidunt quis exercitationem reprehenderit deserunt itaque at ea optio illum voluptatem perspiciatis dicta, magni hic, ipsam odio totam! Dicta ut fuga vero sequi quo deserunt?</p>
    </div>
    <%- include('./partials/footer.ejs') %>  
</body>
</html>